---
import type { SanityImage as SanityImageType } from '../../../../lib/schemas/shared/primitives';
import SanityImage from '../media/SanityImage/SanityImage.astro';

type Props = {
  image: SanityImageType;
};

const { image } = Astro.props as Props;
---

<div class="w-auto h-full flex items-center">
  <SanityImage data-testid="cta-image-icon" image={image} class="w-4.5 h-4.5 inline-block ml-1" />
</div>
