@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    lofi --default,
    black,
    dracula,
    pastel,
    night,
    winter,
    valentine,
    garden,
    retro,
    cupcake;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.global-icon svg {
  display: block;
  width: 100px;
  height: auto;
  fill: none;
}

.global-icon :is(path, circle, ellipse, polygon) {
  fill: currentcolor;
  stroke: currentcolor;
}
