---
import SanityImage from '../atoms/media/SanityImage/SanityImage.astro';
import type { ProductCardViewProps } from './ProductCardView.interface';

const { description, title, image } = Astro.props as ProductCardViewProps;
---

<div class="card bg-base-100 w-80 shadow-sm">
  <figure>
    <SanityImage
      data-testid="sanity-image-product-card"
      image={image}
      class="w-80 block h-56 object-cover"
      loading="lazy"
      decoding="async"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title min-h-18">{title}</h2>
    <p class="min-h-16">{description}</p>
    <div class="card-actions justify-end">
      <slot name="cta" />
    </div>
  </div>
</div>
