---
import '../../../styles/text-section.css';
import type { TextSection } from '../../../lib/schemas/sections/textSection';
import { PortableText } from 'astro-portabletext';
import { BG_CLASS_MAPS } from '../../../styles/bg-maps';

type Props = Omit<TextSection, 'ctaButtons'>;

const { items, backgroundColour } = Astro.props as Props;
---

<section
  class=`relative flex justify-center overflow-hidden min-h-75 ${BG_CLASS_MAPS.COLOR[backgroundColour]} py-8`
>
  <div class="container w-xl mx-auto px-4">
    <div class="flex flex-col text-section mb-4 gap-4">
      {
        items.map((item) => (
          <div class="mx-1 w-full">
            <PortableText value={item.body} />
          </div>
        ))
      }
    </div>
    <div class="m-4 flex justify-center gap-4 flex-wrap">
      <slot name="cta" />
    </div>
  </div>
</section>
